<mat-grid-list [cols]="cols" [rowHeight]="rows" [gutterSize]="1">
    <mat-grid-tile *ngFor="let card of cards">
        <mat-card class="boxify">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>{{card.avatar}}</mat-icon>
                </div>
                <mat-card-title>
                    {{card.title}}
                </mat-card-title>
                <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <div [id]="card.avatar" style="display: none">
                <img [src]="card.image" [alt]="card.avatar" style="width:300px; height:280px;  background-size: 100%" mat-card-image>
                <mat-card-content>
                    <p>
                        {{card.content}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="toggle()" color="primary">ir</button>
                    <button mat-flat-button color="basic">Saber mas</button>
                </mat-card-actions>
            </div>
            <div #card.avatar style="display:block">
                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let button of card.buttons">
                            <mat-slide-toggle [id]="button.id">{{button.view}}</mat-slide-toggle>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <mat-form-field>
                        <!-- togle on/off para cada componente -->
                        <mat-select placeholder="Modulo" [(value)]="selected">
                            <mat-option *ngFor="let button of card.buttons" [value]="button.id">
                                {{button.view}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Boton de verificacion de modulos -->
                    <button mat-flat-button (click)="send($event)" [value]="card.avatar" [disabled]="avalible()">Verificar</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>